.BubbleImg {
    border-radius: 50%;
}
.Bubble img{
    margin: 5px;
    width: 150px;
    height: 150px;
}
.Bubble {
    margin: 0px;
    margin-bottom: 10px;
}
.BubbleTitle {
    color: white;
    letter-spacing: -2px;
    text-align: center;
    margin: auto;
}